In [3]:
import pandas as pd
import numpy as np

diamonds=pd.read_csv("C:/Users/Administrator/Desktop/data.csv")
diamonds.info()

diamonds.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
Unnamed: 0    53940 non-null int64
carat         53940 non-null float64
cut           53940 non-null object
color         53940 non-null object
clarity       53940 non-null object
depth         53940 non-null float64
table         53940 non-null float64
price         53940 non-null int64
x             53940 non-null float64
y             53940 non-null float64
z             53940 non-null float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [4]:
#pivot_table()内的参数列表如下：
# pandas.pivot_table(
#     index=None, #行索引（对应Excel透视表中的行字段，通常为类别型字段）
#     columns=None, #列字段（对应Excel透视表中的列字段，通常为类别型字段）
#     values=None, #度量值字段（通常为数值型字段）
#     aggfunc="mean", #度量的聚合方式（默认为均值）
#     fill_value=None, #缺失值填充方式
#     dropna=True, #是否删除无效值列
#     margins=False, #是否添加边际和
#     margins_name="All" #是否添加边际和的名称
# )

In [7]:
#数值型变量的聚合分析：
pd.pivot_table(diamonds,index="cut",columns="color",values="carat",
              aggfunc=np.sum,margins=True,margins_name="All")

color,D,E,F,G,H,I,J,All
cut,,,,,,,,
Fair,149.98,191.88,282.27,321.48,369.41,209.66,159.60,1684.28
Good,492.87,695.21,705.32,741.13,642.14,551.87,337.56,4166.10
Ideal,1603.38,2257.50,2509.20,3422.29,2490.52,1910.97,952.98,15146.84
Premium,1156.64,1677.37,1927.82,2460.51,2398.82,1634.97,1044.82,12300.95
Very Good,1053.69,1623.16,1603.44,1762.87,1670.69,1260.53,768.32,9742.70
All,4456.56,6445.12,7028.05,8708.28,7571.58,5568.00,3263.28,43040.87

In [ ]:
pd.pivot_table(diamonds,index=["cut","color"],columns="clarity",
              values="carat",aggfunc=np.sum,)