In [10]:
import os
import pandas as pd
import numpy as np

os.chdir("C:/Users/Administrator/Desktop")
mydata=pd.read_csv("data.csv",sep=",",encoding="utf-8")

In [16]:
mydata.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [15]:
mydata.describe()

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

In [18]:
#提取单行的两种等价方式
mydata.model

mydata["model"]

0                      a4
1                      a4
2                      a4
3                      a4
4                      a4
5                      a4
6                      a4
7              a4 quattro
8              a4 quattro
9              a4 quattro
10             a4 quattro
11             a4 quattro
12             a4 quattro
13             a4 quattro
14             a4 quattro
15             a6 quattro
16             a6 quattro
17             a6 quattro
18     c1500 suburban 2wd
19     c1500 suburban 2wd
20     c1500 suburban 2wd
21     c1500 suburban 2wd
22     c1500 suburban 2wd
23               corvette
24               corvette
25               corvette
26               corvette
27               corvette
28        k1500 tahoe 4wd
29        k1500 tahoe 4wd
              ...
204     toyota tacoma 4wd
205     toyota tacoma 4wd
206     toyota tacoma 4wd
207                   gti
208                   gti
209                   gti
210                   gti
211                   gti
212                 jetta
213                 jetta
214                 jetta
215                 jetta
216                 jetta
217                 jetta
218                 jetta
219                 jetta
220                 jetta
221            new beetle
222            new beetle
223            new beetle
224            new beetle
225            new beetle
226            new beetle
227                passat
228                passat
229                passat
230                passat
231                passat
232                passat
233                passat
Name: model, Length: 234, dtype: object

In [19]:
mydata[["model","manufacturer"]]

                  model manufacturer
0                    a4         audi
1                    a4         audi
2                    a4         audi
3                    a4         audi
4                    a4         audi
5                    a4         audi
6                    a4         audi
7            a4 quattro         audi
8            a4 quattro         audi
9            a4 quattro         audi
10           a4 quattro         audi
11           a4 quattro         audi
12           a4 quattro         audi
13           a4 quattro         audi
14           a4 quattro         audi
15           a6 quattro         audi
16           a6 quattro         audi
17           a6 quattro         audi
18   c1500 suburban 2wd    chevrolet
19   c1500 suburban 2wd    chevrolet
20   c1500 suburban 2wd    chevrolet
21   c1500 suburban 2wd    chevrolet
22   c1500 suburban 2wd    chevrolet
23             corvette    chevrolet
24             corvette    chevrolet
25             corvette    chevrolet
26             corvette    chevrolet
27             corvette    chevrolet
28      k1500 tahoe 4wd    chevrolet
29      k1500 tahoe 4wd    chevrolet
..                  ...          ...
204   toyota tacoma 4wd       toyota
205   toyota tacoma 4wd       toyota
206   toyota tacoma 4wd       toyota
207                 gti   volkswagen
208                 gti   volkswagen
209                 gti   volkswagen
210                 gti   volkswagen
211                 gti   volkswagen
212               jetta   volkswagen
213               jetta   volkswagen
214               jetta   volkswagen
215               jetta   volkswagen
216               jetta   volkswagen
217               jetta   volkswagen
218               jetta   volkswagen
219               jetta   volkswagen
220               jetta   volkswagen
221          new beetle   volkswagen
222          new beetle   volkswagen
223          new beetle   volkswagen
224          new beetle   volkswagen
225          new beetle   volkswagen
226          new beetle   volkswagen
227              passat   volkswagen
228              passat   volkswagen
229              passat   volkswagen
230              passat   volkswagen
231              passat   volkswagen
232              passat   volkswagen
233              passat   volkswagen

[234 rows x 2 columns]

In [24]:
#通过指定序号范围来提取行：
mydata[1:10]
#默认情况下序列范围是针对行索引，字符串默认是针对列索引

mydata[200:]#切出201个之后的所有记录，从0开始编号

mydata[:100]#切出前100个的所有记录，不包括尾部

mydata[:]#提取所有记录

mydata[::2]#间隔几个单位取一次值

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
6,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
8,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact
12,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact
14,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact
16,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize
18,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
22,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
24,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater
26,chevrolet,corvette,6.2,2008,8,auto(s6),r,15,25,p,2seater
28,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,14,19,r,suv
30,chevrolet,k1500 tahoe 4wd,5.7,1999,8,auto(l4),4,11,15,r,suv
32,chevrolet,malibu,2.4,1999,4,auto(l4),f,19,27,r,midsize
34,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
36,chevrolet,malibu,3.6,2008,6,auto(s6),f,17,26,r,midsize
38,dodge,caravan 2wd,3.0,1999,6,auto(l4),f,17,24,r,minivan
40,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan
42,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
44,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan
46,dodge,caravan 2wd,3.8,2008,6,auto(l6),f,16,23,r,minivan
48,dodge,dakota pickup 4wd,3.7,2008,6,manual(m6),4,15,19,r,pickup
50,dodge,dakota pickup 4wd,3.9,1999,6,auto(l4),4,13,17,r,pickup
52,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup
54,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
56,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
58,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
...,...,...,...,...,...,...,...,...,...,...,...
174,toyota,4runner 4wd,2.7,1999,4,auto(l4),4,16,20,r,suv
176,toyota,4runner 4wd,3.4,1999,6,manual(m5),4,15,17,r,suv
178,toyota,4runner 4wd,4.7,2008,8,auto(l5),4,14,17,r,suv
180,toyota,camry,2.2,1999,4,auto(l4),f,21,27,r,midsize
182,toyota,camry,2.4,2008,4,auto(l5),f,21,31,r,midsize
184,toyota,camry,3.0,1999,6,manual(m5),f,18,26,r,midsize
186,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact
188,toyota,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact
190,toyota,camry solara,3.0,1999,6,auto(l4),f,18,26,r,compact
192,toyota,camry solara,3.3,2008,6,auto(s5),f,18,27,r,compact
194,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact
196,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact
198,toyota,land cruiser wagon 4wd,4.7,1999,8,auto(l4),4,11,15,r,suv
200,toyota,toyota tacoma 4wd,2.7,1999,4,manual(m5),4,15,20,r,pickup
202,toyota,toyota tacoma 4wd,2.7,2008,4,manual(m5),4,17,22,r,pickup
204,toyota,toyota tacoma 4wd,3.4,1999,6,auto(l4),4,15,19,r,pickup
206,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup
208,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact
210,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
214,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact
216,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact
218,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact
220,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact
224,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact
226,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact
228,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize

In [25]:
#同时叠加行列索引与切片
mydata[1:10][["model","manufacturer"]]

        model manufacturer
1          a4         audi
2          a4         audi
3          a4         audi
4          a4         audi
5          a4         audi
6          a4         audi
7  a4 quattro         audi
8  a4 quattro         audi
9  a4 quattro         audi

In [26]:
mydata[["model","manufacturer"]][1:10]

        model manufacturer
1          a4         audi
2          a4         audi
3          a4         audi
4          a4         audi
5          a4         audi
6          a4         audi
7  a4 quattro         audi
8  a4 quattro         audi
9  a4 quattro         audi

In [31]:
#标签索引：针对数据框的索引字段

mydata.loc[3]#按索引提取单行的数值，以列形式呈现

mydata.loc[0:5]#按索引提取区域行数值

mydata.loc[1:10,["model","manufacturer"]]#行列同时索引

         model manufacturer
1           a4         audi
2           a4         audi
3           a4         audi
4           a4         audi
5           a4         audi
6           a4         audi
7   a4 quattro         audi
8   a4 quattro         audi
9   a4 quattro         audi
10  a4 quattro         audi

In [36]:
# 位置索引：只针对行列位置对应的序号
#iloc索引，列位置可以忽略，行位置必须要占位

mydata.iloc[[0,2]] #等价于mydata.iloc[[0,2],:]

mydata.iloc[1:] #等价于mydata.iloc[1:,:]

mydata.iloc[1,[0,1]]

mydata.iloc[:3,2]

mydata.iloc[[0,2,5],[4,5]]

   cyl       trans
0    4    auto(l5)
2    4  manual(m6)
5    6  manual(m5)

In [38]:
#条件索引
mydata[(mydata["model"]=="audi") | (mydata["manufacturer"]=="mercury")][["model","manufacturer","year","class"]]

               model manufacturer  year class
137  mountaineer 4wd      mercury  1999   suv
138  mountaineer 4wd      mercury  2008   suv
139  mountaineer 4wd      mercury  2008   suv
140  mountaineer 4wd      mercury  1999   suv

In [42]:
#这种基于数据框本身的条件索引用法不够优雅，需要额外写很多字段名称，借助外部函数:
mydata.query('model=="audi" | manufacturer=="mercury"')

#列名不需要引号，query整体用单引号

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
137,mercury,mountaineer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
138,mercury,mountaineer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv
139,mercury,mountaineer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv
140,mercury,mountaineer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv

#### R语言和Python的切片索引规则重要的区别：
- R语言中生成数据框使用圆括号，Python中则根据不同数据类型分别定义（列表用方括号、元组用圆括号、字典和几何用花括号）
- R语言和Python索引都用方括号，且都是使用逗号进行行规则和列规则的位置间隔
- R语言与Python在索引多行多列时传入数据类型不同，R语言传入向量，Python传入列表
- 在索引多行时，R与Python都可以使用连续行列，均需提供占位符号，R语言留白即可标识全选，Python占位则必须提供：符号；在索引多列时，均无需提供占位符号
- R语言与Python都接受逻辑表达式：|或，&且
- R语言索引从1开始，Python从0开始（不包括尾部）
- P语言与Python均可以基于数据框自身进行索引切片，同时又可以通过外部索引函数进行条件索引